/* 60-clear.ie.css begin */
/* 60-clear.css begin */
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css begin */
.b-page
{
    font: 12px Helvetica, Arial, sans-serif;

    margin: 0;

    background: #fff;
    -webkit-text-size-adjust: none;
}
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css end */
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css begin */
/* :( */
.i-ua_android-vowels-hack_yes *
{
    text-shadow: none !important;
}
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css end */
/* ../../../../common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;

    outline: 0;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0)
{
    .button
    {
        border: 0;
        background: none; /* убираем нативный фон кнопки */
    }

    a.button:link,
    a.button:visited
    {
        text-decoration: none;

        outline: hidden; /* hidden for Opera 12 to remove native focusing  */
    }
}

/* ../../../../common.blocks/button/button.css end */
/* ../../../../common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    pointer-events: none;
}

/* ../../../../common.blocks/button/__text/button__text.css end */
/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes,
a.button_disabled_yes .button__text
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .button_disabled_yes.button:before
    {
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .button_disabled_yes.button
    {
        background: rgba(0,0,0,.08) !important;
    }
}

/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../touch.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    pointer-events: none;
}

/* ../../../../touch.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../touch-phone.blocks/button/_disabled/button_disabled_yes.css begin */
.i-ua_android_2 .button_disabled_yes.button:before
{
    -webkit-box-shadow: none;
}

/* ../../../../touch-phone.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../touch.blocks/button/_pressed/button_pressed_yes.css begin */
.button_pressed_yes
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ../../../../touch.blocks/button/_pressed/button_pressed_yes.css end */
/* ../../../../common.blocks/button/_theme/button_theme_normal.css begin */
a.button_theme_normal,
.button_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .button_theme_normal
    {
        border-radius: 3px;
    }

    /* :before — background & border */
    .button_theme_normal:before
    {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        content: '';

        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _pressed */
    .button_theme_normal.button_pressed_yes:before
    {
        background-color: #f6f5f3;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../common.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../touch-phone.blocks/button/_theme/button_theme_normal.css begin */
/* Костыли для Android 2.* */
.i-ua_android_2 .button_theme_normal:before
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

.i-ua_android_2 .button_theme_normal.button_pressed_yes:before
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}

/* ../../../../touch-phone.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../common.blocks/button/_size/button_size_s.css begin */
.button_size_s
{
    font-size: 13px;
}

@media all and (min-width:0)
{
    .button_size_s
    {
        line-height: 28px;
    }
}

.button_size_s .button__text
{
    padding: 0 13px;
}

/* Стрелочка в кнопке */
.button_size_s.button_arrow_down .button__text:after
{
    right: 9px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_s.button.button_arrow_down .button__text
{
    padding-right: 28px;
}

/* ../../../../common.blocks/button/_size/button_size_s.css end */
/* ../../../../common.blocks/button/_size/button_size_m.css begin */
.button_size_m
{
    font-size: 15px;
}

@media all and (min-width:0)
{
    .button_size_m
    {
        line-height: 32px;
    }
}

.button_size_m .button__text
{
    padding: 0 15px;
}

/* Стрелочка в кнопке */
.button_size_m.button_arrow_down .button__text:after
{
    right: 10px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_m.button.button_arrow_down .button__text
{
    padding-right: 31px;
}

/* ../../../../common.blocks/button/_size/button_size_m.css end */
/* ../../../../common.blocks/button/_size/button_size_l.css begin */
.button_size_l
{
    font-size: 18px;
}

@media all and (min-width:0)
{
    .button_size_l
    {
        line-height: 38px;
    }
}

.button_size_l .button__text
{
    padding: 0 18px;
}

/* Стрелочка в кнопке */
.button_size_l.button_arrow_down .button__text:after
{
    right: 12px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_l.button.button_arrow_down .button__text
{
    padding-right: 38px;
}

/* ../../../../common.blocks/button/_size/button_size_l.css end */
/* ../../../../common.blocks/button/_theme/button_theme_clear.css begin */
a.button_theme_clear,
.button_theme_clear
{
    font-family: Arial, sans-serif;

    color: #000;
}

.button_theme_clear
{
    border-radius: 3px;
}

.button_theme_clear .button__icon,
.button_theme_clear .button__text
{
    opacity: .25;
}

/*
 * _disabled_yes запрещен для кнопок с _theme_clear
 */
.button_theme_clear.button_disabled_yes
{
    visibility: hidden;
}

.button_theme_clear:before
{
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;

    padding: 0;

    content: '';

    border-radius: 2px;
}

/* ../../../../common.blocks/button/_theme/button_theme_clear.css end */
/* ../../../../touch-phone.blocks/button/_theme/button_theme_clear.css begin */
/* Костыли для Android 2.* */
.i-ua_android_2 .button_theme_clear:before
{
    -webkit-box-shadow: 0 0 1px 1px transparent;
}

/* ../../../../touch-phone.blocks/button/_theme/button_theme_clear.css end */
/* ../../../../common.blocks/checkbox/checkbox.css begin */
.i-ua_js_no .checkbox__box:before,
.i-ua_js_no .checkbox__box:after,
.i-ua_js_no .checkbox__tick
{
    display: none;
}

/* ../../../../common.blocks/checkbox/checkbox.css end */
/* ../../../../touch.blocks/checkbox/checkbox.css begin */
.checkbox
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ../../../../touch.blocks/checkbox/checkbox.css end */
/* ../../../../common.blocks/checkbox/__box/checkbox__box.css begin */
.checkbox__box
{
    position: relative;

    white-space: nowrap;
}

/* ../../../../common.blocks/checkbox/__box/checkbox__box.css end */
/* ../../../../common.blocks/checkbox/__control/checkbox__control.css begin */
@media all and (min-width:0)
{
    .i-ua_js_yes .checkbox__control
    {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 101%;
        height: 101%;
        margin: 0;
        padding: 0;

        opacity: 0;
        border: 0;
        outline: 0;
        background: none;
    }
}

/* ../../../../common.blocks/checkbox/__control/checkbox__control.css end */
/* ../../../../common.blocks/checkbox/__tick/checkbox__tick.css begin */
@media all and (min-width:0)
{
    .checkbox__tick
    {
        position: relative;
        z-index: 3;

        display: inline-block;
        visibility: hidden;

        padding: 0;

        vertical-align: baseline;

        background: url("../../../../../../../output/freeze/J_kxuf5tD5_oT3zFsj_RdNpltno.svg") 0 100% no-repeat;
    }
}

/* ../../../../common.blocks/checkbox/__tick/checkbox__tick.css end */
/* ../../../../touch-phone.blocks/checkbox/__tick/checkbox__tick.css begin */
.i-ua_inlinesvg_no .checkbox_size_m .checkbox__tick
{
    background-image: url("../../../../../../../output/freeze/6bvCeno64U8f57fb08T-Chhcyy4.png");
}

.i-ua_inlinesvg_no .checkbox_size_s .checkbox__tick
{
    background-image: url("../../../../../../../output/freeze/IsxYQhW2POwwQMkiUwAi1SfbbsY.png");
}

/* ../../../../touch-phone.blocks/checkbox/__tick/checkbox__tick.css end */
/* ../../../../common.blocks/checkbox/_theme/checkbox_theme_normal.css begin */
.checkbox_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .checkbox_theme_normal .checkbox__box:before,
    .checkbox_theme_normal .checkbox__box:after
    {
        position: absolute;

        content: '';
    }

    /* :after — border & background */
    .checkbox_theme_normal .checkbox__box:after
    {
        top: 1px;
        left: 1px;

        padding: 0;

        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _checked */
    .checkbox_theme_normal .checkbox__box_checked_yes:after
    {
        background: #ffeba0;
    }

    .checkbox_theme_normal .checkbox__box_checked_yes:after,
    .checkbox_theme_normal .checkbox__box_checked_yes.checkbox__box_focused_yes:after
    {
        -webkit-box-shadow: 0 0 0 1px rgba(153,122,0,.5);
                box-shadow: 0 0 0 1px rgba(153,122,0,.5);
    }
}

/* ../../../../common.blocks/checkbox/_theme/checkbox_theme_normal.css end */
/* ../../../../touch-phone.blocks/checkbox/_theme/checkbox_theme_normal.css begin */
.i-ua_android_2 .checkbox_theme_normal .checkbox__box:after
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

.i-ua_android_2 .checkbox_theme_normal .checkbox__box_checked_yes:after,
.i-ua_android_2 .checkbox_theme_normal .checkbox__box_checked_yes.checkbox__box_focused_yes:after
{
    -webkit-box-shadow: 0 0 1px 1px rgba(153,122,0,.5);
}

/* ../../../../touch-phone.blocks/checkbox/_theme/checkbox_theme_normal.css end */
/* ../../../../common.blocks/checkbox/_theme/checkbox_theme_pseudo.css begin */
.checkbox_theme_pseudo
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .checkbox_theme_pseudo .checkbox__box:before,
    .checkbox_theme_pseudo .checkbox__box:after
    {
        position: absolute;

        content: '';
    }

    /* :after — background */
    .checkbox_theme_pseudo .checkbox__box:after
    {
        top: 1px;
        left: 1px;

        padding: 0;

        border-radius: 2px;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _checked */
    .checkbox_theme_pseudo .checkbox__box_checked_yes:after
    {
        background: #ffeba0;
    }

    .checkbox_theme_pseudo .checkbox__box_checked_yes:after,
    .checkbox_theme_pseudo .checkbox__box_checked_yes.checkbox__box_focused_yes:after
    {
        -webkit-box-shadow: 0 0 0 1px rgba(153,122,0,.5);
                box-shadow: 0 0 0 1px rgba(153,122,0,.5);
    }
}

/* ../../../../common.blocks/checkbox/_theme/checkbox_theme_pseudo.css end */
/* ../../../../touch-phone.blocks/checkbox/_theme/checkbox_theme_pseudo.css begin */
.i-ua_android_2 .checkbox_theme_pseudo .checkbox__box:after
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

.i-ua_android_2 .checkbox_theme_pseudo .checkbox__box_checked_yes:after,
.i-ua_android_2 .checkbox_theme_pseudo .checkbox__box_checked_yes.checkbox__box_focused_yes:after
{
    -webkit-box-shadow: 0 0 1px 1px rgba(153,122,0,.5);
}

/* ../../../../touch-phone.blocks/checkbox/_theme/checkbox_theme_pseudo.css end */
/* ../../../../common.blocks/checkbox/_checked/checkbox_checked_yes.css begin */
@media all and (min-width:0)
{
    .checkbox_checked_yes .checkbox__tick
    {
        visibility: visible;
    }
}

/* ../../../../common.blocks/checkbox/_checked/checkbox_checked_yes.css end */
/* ../../../../common.blocks/checkbox/_disabled/checkbox_disabled_yes.css begin */
@media all and (min-width:0)
{
    .checkbox_disabled_yes .checkbox__box:after
    {
        background: rgba(0,0,0,.08);
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08);
                box-shadow: 0 0 0 1px rgba(0,0,0,.08);
    }

    .checkbox_disabled_yes .checkbox__tick
    {
        opacity: .4;
    }
}

.checkbox_disabled_yes .checkbox__label
{
    color: #999;
}

/* ../../../../common.blocks/checkbox/_disabled/checkbox_disabled_yes.css end */
/* ../../../../touch-phone.blocks/checkbox/_disabled/checkbox_disabled_yes.css begin */
.i-ua_android_2 .checkbox_disabled_yes .checkbox__box:after
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.08);
}

/* ../../../../touch-phone.blocks/checkbox/_disabled/checkbox_disabled_yes.css end */
/* ../../../../common.blocks/check-button/check-button.css begin */
.check-button
{
    position: relative;

    display: inline-block;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;

    outline: 0;
}

.i-ua_js_no .check-button
{
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ../../../../common.blocks/check-button/check-button.css end */
/* ../../../../touch.blocks/check-button/check-button.css begin */
.check-button
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* ../../../../touch.blocks/check-button/check-button.css end */
/* ../../../../common.blocks/check-button/__text/check-button__text.css begin */
.check-button__text
{
    position: relative;

    padding: 0 1em;
}

.i-ua_js_no .check-button__text
{
    padding: 0 1em 0 .3em;
}

/* ../../../../common.blocks/check-button/__text/check-button__text.css end */
/* ../../../../common.blocks/check-button/__control/check-button__control.css begin */
@media all and (min-width:0)
{
    .i-ua_js_yes .check-button__control
    {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;

        opacity: 0;
        border: 0;
        outline: 0;
        background: none;
    }
}

/* ../../../../common.blocks/check-button/__control/check-button__control.css end */
/* ../../../../common.blocks/check-button/_theme/check-button_theme_normal.css begin */
.check-button_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .check-button_theme_normal
    {
        background: 0;
    }

    .check-button_theme_normal:before,
    .check-button_theme_normal:after
    {
        position: absolute;

        content: '';
    }

    /* :before — background & border */
    .check-button_theme_normal:before
    {
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        border-radius: 2px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _checked, не _pressed */
    .check-button_theme_normal.check-button_checked_yes:not(.check-button_pressed_yes):before
    {
        background-color: #ffeba0;
        -webkit-box-shadow: 0 0 0 1px rgba(153,122,0,.5);
                box-shadow: 0 0 0 1px rgba(153,122,0,.5);
    }

    /* _pressed, не _checked */
    .check-button_theme_normal.check-button_pressed_yes:not(.check-button_checked_yes):before
    {
        background-color: #f6f5f3;
    }

    /* _checked, _pressed */
    .check-button_theme_normal.check-button_checked_yes.check-button_pressed_yes:before
    {
        background-color: #fee481;
    }
}

/* ../../../../common.blocks/check-button/_theme/check-button_theme_normal.css end */
/* ../../../../touch-phone.blocks/check-button/_theme/check-button_theme_normal.css begin */
.i-ua_android_2 .check-button_theme_normal:before
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}

.i-ua_android_2 .check-button_theme_normal.check-button_checked_yes:before
{
    -webkit-box-shadow: 0 0 1px 1px rgba(153,122,0,.5);
}

/* ../../../../touch-phone.blocks/check-button/_theme/check-button_theme_normal.css end */
/* ../../../../common.blocks/check-button/_disabled/check-button_disabled_yes.css begin */
@media all and (min-width:0)
{
    .check-button_disabled_yes:before
    {
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.08)!important;
                box-shadow: 0 0 0 1px rgba(0,0,0,.08)!important;
    }

    .check-button_disabled_yes:not(.check-button_checked_yes):before
    {
        background: rgba(0,0,0,.08);
    }

    .check-button_disabled_yes.check-button_checked_yes:before
    {
        background: #fff7d8!important;
    }
}

.check-button_disabled_yes .check-button__text
{
    color: #999;
}

/* ../../../../common.blocks/check-button/_disabled/check-button_disabled_yes.css end */
/* ../../../../touch-phone.blocks/check-button/_disabled/check-button_disabled_yes.css begin */
.i-ua_android_2 .check-button_disabled_yes:before
{
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.08)!important;
}

/* ../../../../touch-phone.blocks/check-button/_disabled/check-button_disabled_yes.css end */
/* ../../../../common.blocks/check-button/_size/check-button_size_s.css begin */
.check-button_size_s
{
    font-size: 13px;
    line-height: 28px;
}

/* ../../../../common.blocks/check-button/_size/check-button_size_s.css end */
/* ../../../../common.blocks/check-button/_size/check-button_size_m.css begin */
.check-button_size_m
{
    font-size: 15px;
    line-height: 32px;
}

/* ../../../../common.blocks/check-button/_size/check-button_size_m.css end */
/* ../../../../common.blocks/check-button/_size/check-button_size_l.css begin */
.check-button_size_l
{
    font-size: 18px;
    line-height: 38px;
}

/* ../../../../common.blocks/check-button/_size/check-button_size_l.css end */
/* ../../../../common.blocks/check-button/_theme/check-button_theme_clear.css begin */
.check-button_theme_clear
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .check-button_theme_clear .check-button__icon,
    .check-button_theme_clear .check-button__text
    {
        opacity: .25;
    }

    .check-button_theme_clear:before,
    .check-button_theme_clear:after
    {
        position: absolute;

        content: '';
    }

    /* :before — background & border */
    .check-button_theme_clear:before
    {
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        border-radius: 2px;
    }

    /* _checked */
    .check-button_theme_clear.check-button_checked_yes .check-button__icon,
    .check-button_theme_clear.check-button_checked_yes .check-button__text
    {
        opacity: 1;
    }

    /* _pressed, не _checked */
    .check-button_theme_clear.check-button_pressed_yes:not(.check-button_checked_yes):before
    {
        background-color: #f6f5f3;
    }

    /* _checked, не _pressed */
    .check-button_theme_clear.check-button_checked_yes:not(.check-button_pressed_yes):before
    {
        background-color: #ffeba0;
        -webkit-box-shadow: 0 0 0 1px #ffeba0;
                box-shadow: 0 0 0 1px #ffeba0;
    }

    /* _checked, _pressed */
    .check-button_theme_clear.check-button_checked_yes.check-button_pressed_yes:before
    {
        background-color: #fee481;
        -webkit-box-shadow: 0 0 0 1px #fee481;
                box-shadow: 0 0 0 1px #fee481;
    }

    /* _disabled_yes запрещен для кнопок с _theme_clear */
    .check-button_theme_clear.check-button_disabled_yes
    {
        visibility: hidden;
    }
}

/* ../../../../common.blocks/check-button/_theme/check-button_theme_clear.css end */
/* ../../../../touch-phone.blocks/check-button/_theme/check-button_theme_clear.css begin */
.i-ua_android_2 .check-button_theme_clear:before
{
    -webkit-box-shadow: 0 0 1px 1px transparent;
}

.i-ua_android_2 .check-button_theme_clear.check-button_checked_yes:before
{
    -webkit-box-shadow: 0 0 1px 1px transparent;
}

/* ../../../../touch-phone.blocks/check-button/_theme/check-button_theme_clear.css end */

/* 60-clear.css end */

/* 60-clear.ie.css end */
