/* 100-round-button.css begin */
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css begin */
.b-page
{
    font: 12px Helvetica, Arial, sans-serif;

    margin: 0;

    background: #fff;
    -webkit-text-size-adjust: none;
}
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css end */
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css begin */
/* :( */
.i-ua_android-vowels-hack_yes *
{
    text-shadow: none !important;
}
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css end */
/* ../../../../common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;

    outline: 0;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0)
{
    .button
    {
        border: 0;
        background: none; /* убираем нативный фон кнопки */
    }

    a.button:link,
    a.button:visited
    {
        text-decoration: none;

        outline: hidden; /* hidden for Opera 12 to remove native focusing  */
    }
}

/* ../../../../common.blocks/button/button.css end */
/* ../../../../common.blocks/button/button.examples/100-round-button.blocks/button/button.css begin */
.button
{
    margin-right: 10px;
}

/* ../../../../common.blocks/button/button.examples/100-round-button.blocks/button/button.css end */
/* ../../../../common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    pointer-events: none;
}

/* ../../../../common.blocks/button/__text/button__text.css end */
/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes,
a.button_disabled_yes .button__text
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .button_disabled_yes.button:before
    {
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .button_disabled_yes.button
    {
        background: rgba(0,0,0,.08) !important;
    }
}

/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../touch.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    pointer-events: none;
}

/* ../../../../touch.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../touch.blocks/button/_pressed/button_pressed_yes.css begin */
.button_pressed_yes
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ../../../../touch.blocks/button/_pressed/button_pressed_yes.css end */
/* ../../../../common.blocks/button/_theme/button_theme_normal.css begin */
a.button_theme_normal,
.button_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .button_theme_normal
    {
        border-radius: 3px;
    }

    /* :before — background & border */
    .button_theme_normal:before
    {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        content: '';

        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _pressed */
    .button_theme_normal.button_pressed_yes:before
    {
        background-color: #f6f5f3;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../common.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../common.blocks/button/_round/button_round_yes.css begin */
.button_round_yes
{
    width: 32px;
    height: 32px;
}

.button_round_yes.button_theme_normal,
.button_round_yes.button_theme_normal:before
{
    border-radius: 100%;
}

.button_round_yes .button__icon.image
{
    width: 18px;
    height: 18px;
    margin: -9px 0 0 -9px;

    background: url("../../../../../../../output/freeze/hUF9GGh9ey4uQf2kXLVLXAZc4jg.svg") no-repeat;
}

.button_round_yes.button_state_play .image
{
    background-position: 0 0;
}

.button_round_yes.button_state_pause .image
{
    background-position: 0 -18px;
}

.button_round_yes.button_state_radio .image
{
    background-position: 0 -36px;
}

/* ../../../../common.blocks/button/_round/button_round_yes.css end */
/* ../../../../common.blocks/image/image.css begin */
.image
{
    font: 0/0 a;

    border: 0;
}

/* ../../../../common.blocks/image/image.css end */
/* ../../../../common.blocks/button/__icon/button__icon.css begin */
.button__icon
{
    position: relative;
    top: 3px;

    width: 16px;
    height: 16px;
    margin-right: 7px;
}

/* ../../../../common.blocks/button/__icon/button__icon.css end */
/* ../../../../common.blocks/button/_only-icon/button_only-icon_yes.css begin */
.button_only-icon_yes .button__text
{
    display: inline-block;

    width: 4px;
}

.button_only-icon_yes .button__icon
{
    position: absolute;
    top: 50%;
    left: 50%;

    margin: -8px 0 0 -8px;
}

/* ../../../../common.blocks/button/_only-icon/button_only-icon_yes.css end */

/* 100-round-button.css end */
