/* 50-link-inner.ie.css begin */
/* 50-link-inner.css begin */
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css begin */
.b-page
{
    font: 12px Helvetica, Arial, sans-serif;

    margin: 0;

    background: #fff;
    -webkit-text-size-adjust: none;
}
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css end */
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css begin */
/* :( */
.i-ua_android-vowels-hack_yes *
{
    text-shadow: none !important;
}
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css end */
/* ../../../../common.blocks/link/link.css begin */
.link,
.link:visited
{
    color: #22c;
}

.link
{
    text-decoration: none;

    -webkit-transition: color .15s ease-out;
            transition: color .15s ease-out;
}

/* ../../../../common.blocks/link/link.css end */
/* ../../../../common.blocks/link/_inner/link_inner_yes.css begin */
.link_inner_yes .link__inner
{
    color: inherit;
}

.link_inner_yes .image
{
    margin-right: 5px;

    vertical-align: middle;
}

/* ../../../../common.blocks/link/_inner/link_inner_yes.css end */
/* ../../../../common.blocks/link/_pseudo/link_pseudo_yes.css begin */
.i-ua_js_yes .link_pseudo_yes
{
    cursor: pointer;
    text-decoration: none;
}

.i-ua_js_yes .link_pseudo_yes .link__inner
{
    text-decoration: none;

    color: inherit;
    border-bottom: 1px dotted;
}

/* ../../../../common.blocks/link/_pseudo/link_pseudo_yes.css end */
/* ../../../../common.blocks/image/image.css begin */
.image
{
    font: 0/0 a;

    border: 0;
}

/* ../../../../common.blocks/image/image.css end */

/* 50-link-inner.css end */
/* ../../../../common.blocks/link/_pseudo/link_pseudo_yes.ie.css begin */
.i-ua_js_yes .link_pseudo_yes
{
    zoom: 1;
}

.i-ua_js_yes .link_pseudo_yes,
.i-ua_js_yes .link_pseudo_yes .link__inner
{
    position: relative;
}

/* ../../../../common.blocks/link/_pseudo/link_pseudo_yes.ie.css end */

/* 50-link-inner.ie.css end */
