/* 10-simple.css begin */
/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.css begin */
/* ../body/i-global__body.css begin */
/* Global definitions (begin) */ /**/
    body
    {
        font: 0.8em Arial, Helvetica, sans-serif;

        /* Чтобы в FF2- заработал z-index: -1 */ /**/
        position: relative;
        z-index: 0;

        margin: 0;
        padding: 0 0 1em 0;

        color: #000;
        background: #fff;
    }
/* Global definitions (end) */ /**/
/* ../body/i-global__body.css end */
/* ../wbr/i-global__wbr.css begin */
/* Поддержка wbr в Opera и Safari 2/3 (begin) */ /**/
    /* См. http://harisov.livejournal.com/97666.html */ /**/
    wbr
    {
        display: inline-block;
    }
/* Поддержка wbr в Opera и Safari 2/3 (end) */ /**/

/* ../wbr/i-global__wbr.css end */
/* ../hover/i-global__hover.css begin */
/* Global definitions: Links hover (begin) */ /**/
    :link:hover,
    :visited:hover
    {
        color: #f00 !important; /*!head*/
    }
/* Global definitions: Links hover (end) */ /**/

/* ../hover/i-global__hover.css end */

/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.css end */
/* ../../../../common.blocks/tooltip/tooltip.examples/10-simple.blocks/example/example.css begin */
.example
{
    padding: 40px;
}

.example .button_size_xs
{
    float: right;

    margin-right: -60px;
}

/* ../../../../common.blocks/tooltip/tooltip.examples/10-simple.blocks/example/example.css end */
/* ../../../../common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;

    outline: 0;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0)
{
    .button
    {
        border: 0;
        background: none; /* убираем нативный фон кнопки */
    }

    a.button:link,
    a.button:visited
    {
        text-decoration: none;

        outline: hidden; /* hidden for Opera 12 to remove native focusing  */
    }
}

/* ../../../../common.blocks/button/button.css end */
/* ../../../../desktop.blocks/button/button.css begin */
@media all and (min-width:0)
{
    .button
    {
        cursor: pointer;
    }
}

a.button:hover
{
    text-decoration: none;

    outline: hidden; /* hidden for Opera 12 to remove native focusing  */
}

/* ../../../../desktop.blocks/button/button.css end */
/* ../../../../common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    pointer-events: none;
}

/* ../../../../common.blocks/button/__text/button__text.css end */
/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes,
a.button_disabled_yes .button__text
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .button_disabled_yes.button:before
    {
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .button_disabled_yes.button
    {
        background: rgba(0,0,0,.08) !important;
    }
}

/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    cursor: default !important;
}

/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../common.blocks/button/_theme/button_theme_normal.css begin */
a.button_theme_normal,
.button_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .button_theme_normal
    {
        border-radius: 3px;
    }

    /* :before — background & border */
    .button_theme_normal:before
    {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        content: '';

        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _pressed */
    .button_theme_normal.button_pressed_yes:before
    {
        background-color: #f6f5f3;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../common.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../desktop.blocks/button/_theme/button_theme_normal.css begin */
.button_theme_normal.button_hovered_yes
{
    color: #000 !important;
}

@media all and (min-width:0)
{
    /* _focused */
    .button_theme_normal.button_focused_yes
    {
        box-shadow: 0 0 6px #fc0;
    }

    .button_theme_normal.button_focused_yes:before
    {
        box-shadow: 0 0 0 1px rgba(178,142,0,.6);
    }

    /* _hovered */
    .button_theme_normal.button_hovered_yes:not(.button_focused_yes):before
    {
        box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../desktop.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../common.blocks/button/_size/button_size_xs.css begin */
.button_size_xs
{
    font-size: 13px;
}

@media all and (min-width:0)
{
    .button_size_xs
    {
        line-height: 24px;
    }
}

.button_size_xs .button__text
{
    padding: 0 10px;
}

/* Стрелочка в кнопке */
.button_size_xs.button_arrow_down .button__text:after
{
    right: 7px;

    -webkit-background-size: 9px 5px;
            background-size: 9px 5px;
}

.button_size_xs.button.button_arrow_down .button__text
{
    padding-right: 24px;
}

/* ../../../../common.blocks/button/_size/button_size_xs.css end */
/* ../../../../common.blocks/button/_size/button_size_s.css begin */
.button_size_s
{
    font-size: 13px;
}

@media all and (min-width:0)
{
    .button_size_s
    {
        line-height: 28px;
    }
}

.button_size_s .button__text
{
    padding: 0 13px;
}

/* Стрелочка в кнопке */
.button_size_s.button_arrow_down .button__text:after
{
    right: 9px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_s.button.button_arrow_down .button__text
{
    padding-right: 28px;
}

/* ../../../../common.blocks/button/_size/button_size_s.css end */
/* ../../../../common.blocks/button/_size/button_size_m.css begin */
.button_size_m
{
    font-size: 15px;
}

@media all and (min-width:0)
{
    .button_size_m
    {
        line-height: 32px;
    }
}

.button_size_m .button__text
{
    padding: 0 15px;
}

/* Стрелочка в кнопке */
.button_size_m.button_arrow_down .button__text:after
{
    right: 10px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_m.button.button_arrow_down .button__text
{
    padding-right: 31px;
}

/* ../../../../common.blocks/button/_size/button_size_m.css end */
/* ../../../../common.blocks/button/_size/button_size_l.css begin */
.button_size_l
{
    font-size: 18px;
}

@media all and (min-width:0)
{
    .button_size_l
    {
        line-height: 38px;
    }
}

.button_size_l .button__text
{
    padding: 0 18px;
}

/* Стрелочка в кнопке */
.button_size_l.button_arrow_down .button__text:after
{
    right: 12px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_l.button.button_arrow_down .button__text
{
    padding-right: 38px;
}

/* ../../../../common.blocks/button/_size/button_size_l.css end */
/* ../../../../common.blocks/tooltip/tooltip.css begin */
.tooltip
{
    cursor: pointer;
}

/* ../../../../common.blocks/tooltip/tooltip.css end */
/* ../../../../common.blocks/popup/popup.css begin */
.popup
{
    position: absolute;
    z-index: 32700;

    display: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1px;
}

/* ../../../../common.blocks/popup/popup.css end */
/* ../../../../common.blocks/popup/__content/popup__content.css begin */
.popup__content
{
    position: relative;
    z-index: 10;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 4px 8px;
}

/* ../../../../common.blocks/popup/__content/popup__content.css end */
/* ../../../../common.blocks/popup/_theme/popup_theme_ffffff.css begin */
.popup_theme_ffffff
{
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 0 10px 20px -5px rgba(0,0,0,.4);
            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset, 0 10px 20px -5px rgba(0,0,0,.4);
}

.popup_theme_ffffff,
.popup_theme_ffffff .popup__tail:after
{
    background: #fff;
}

.popup_theme_ffffff .popup__tail
{
    background: rgba(0,0,0,.15);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, rgba(0,0,0,.15)), color-stop(50%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(bottom left, rgba(0,0,0,.15) 50%, rgba(0,0,0,0) 50%);
    background:         linear-gradient(to top right, rgba(0,0,0,.15) 50%, rgba(0,0,0,0) 50%);
}

/* ../../../../common.blocks/popup/_theme/popup_theme_ffffff.css end */
/* ../../../../common.blocks/popup/_visibility/popup_visibility_visible.css begin */
.popup_visibility_visible
{
    display: block;
}

/* ../../../../common.blocks/popup/_visibility/popup_visibility_visible.css end */
/* ../../../../desktop.blocks/popup/_visibility/popup_visibility_visible.css begin */
/* https://st.yandex-team.ru/ISLCOMPONENTS-180 */
.popup_visibility_visible:after
{
    content: '';
}

/* ../../../../desktop.blocks/popup/_visibility/popup_visibility_visible.css end */
/* ../../../../common.blocks/popup/_visibility/popup_visibility_outside.css begin */
.popup_visibility_outside
{
    top: -99999px;
    left: -99999px;

    display: block;
}

/* ../../../../common.blocks/popup/_visibility/popup_visibility_outside.css end */
/* ../../../../common.blocks/popup/__under/popup__under.css begin */
.popup__under
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    border: 0;
}

/* ../../../../common.blocks/popup/__under/popup__under.css end */
/* ../../../../common.blocks/popup/__under/_color/popup__under_color_white.css begin */
.popup__under_color_white
{
    opacity: .8;
    background: #fff;
}

/* ../../../../common.blocks/popup/__under/_color/popup__under_color_white.css end */
/* ../../../../common.blocks/popup/__under/_type/popup__under_type_paranja.css begin */
.popup__under_type_paranja
{
    position: fixed;
    z-index: 32000;
    top: 0;
    left: 0;

    padding: 0;

    opacity: .3;
    background: #000;
}

/* ../../../../common.blocks/popup/__under/_type/popup__under_type_paranja.css end */
/* ../../../../common.blocks/tooltip/__tail/tooltip__tail.css begin */
.tooltip__tail
{
    position: absolute;

    overflow: hidden;

    font: 0/0 a;
}

.tooltip__tail:after
{
    position: absolute;

    content: '';

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.tooltip.popup_to_top .tooltip__tail
{
    top: 100%;
    left: 50%;
}

.tooltip.popup_to_top .tooltip__tail:after
{
    right: 0;

    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
}

.tooltip.popup_to_left .tooltip__tail
{
    top: 50%;
    left: 100%;
}

.tooltip.popup_to_left .tooltip__tail:after
{
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}

.tooltip.popup_to_bottom .tooltip__tail
{
    bottom: 100%;
    left: 50%;
}

.tooltip.popup_to_bottom .tooltip__tail:after
{
    bottom: 0;

    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

.tooltip.popup_to_right .tooltip__tail
{
    top: 50%;
    right: 100%;
}

.tooltip.popup_to_right .tooltip__tail:after
{
    right: 0;
    bottom: 0;

    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

/* ../../../../common.blocks/tooltip/__tail/tooltip__tail.css end */
/* ../../../../desktop.blocks/tooltip/_hovered/tooltip_hovered_yes.css begin */
.tooltip_hovered_yes
{
    opacity: .85 !important; /* important, чтобы перекрыть стили jQuery после анимации */
}

/* ../../../../desktop.blocks/tooltip/_hovered/tooltip_hovered_yes.css end */
/* ../../../../common.blocks/tooltip/_size/tooltip_size_xs.css begin */
.tooltip_size_xs .popup__content
{
    padding: 0 8px;

    font-size: 13px;
    line-height: 24px;
}

.tooltip_size_xs .tooltip__tail
{
    width: 7px;
    height: 7px;
}

.tooltip_size_xs .tooltip__tail:after
{
    width: 10px;    /* 7 × √2 ≈ размеры квадрата, который нужно повернуть на 45deg, чтобы получился */
    height: 10px;   /* хвостик с заданными размерами 14×7 (tailWidth × tailHeight) */
}

.tooltip_size_xs.popup_to_right .tooltip__tail,
.tooltip_size_xs.popup_to_left .tooltip__tail
{
    height: 14px;
    margin-top: -7px;
}

.tooltip_size_xs.popup_to_top .tooltip__tail,
.tooltip_size_xs.popup_to_bottom .tooltip__tail
{
    width: 14px;
    margin-left: -7px;
}

/* ../../../../common.blocks/tooltip/_size/tooltip_size_xs.css end */
/* ../../../../common.blocks/tooltip/_size/tooltip_size_s.css begin */
.tooltip_size_s .popup__content
{
    padding: 0 8px;

    font-size: 13px;
    line-height: 28px;
}

.tooltip_size_s .tooltip__tail
{
    width: 7px;
    height: 7px;
}

.tooltip_size_s .tooltip__tail:after
{
    width: 10px;    /* 7 × √2 ≈ размеры квадрата, который нужно повернуть на 45deg, чтобы получился */
    height: 10px;   /* хвостик с заданными размерами 14×7 (tailWidth × tailHeight) */
}

.tooltip_size_s.popup_to_right .tooltip__tail,
.tooltip_size_s.popup_to_left .tooltip__tail
{
    height: 14px;
    margin-top: -7px;
}

.tooltip_size_s.popup_to_top .tooltip__tail,
.tooltip_size_s.popup_to_bottom .tooltip__tail
{
    width: 14px;
    margin-left: -7px;
}

/* ../../../../common.blocks/tooltip/_size/tooltip_size_s.css end */
/* ../../../../common.blocks/tooltip/_size/tooltip_size_m.css begin */
.tooltip_size_m .popup__content
{
    padding: 0 10px;

    font-size: 15px;
    line-height: 32px;
}

.tooltip_size_m .tooltip__tail
{
    width: 7px;
    height: 7px;
}

.tooltip_size_m .tooltip__tail:after
{
    width: 10px;    /* 7 × √2 ≈ размеры квадрата, который нужно повернуть на 45deg, чтобы получился */
    height: 10px;   /* хвостик с заданными размерами 14×7 (tailWidth × tailHeight) */
}

.tooltip_size_m.popup_to_right .tooltip__tail,
.tooltip_size_m.popup_to_left .tooltip__tail
{
    height: 14px;
    margin-top: -7px;
}

.tooltip_size_m.popup_to_top .tooltip__tail,
.tooltip_size_m.popup_to_bottom .tooltip__tail
{
    width: 14px;
    margin-left: -7px;
}

/* ../../../../common.blocks/tooltip/_size/tooltip_size_m.css end */
/* ../../../../common.blocks/tooltip/_size/tooltip_size_l.css begin */
.tooltip_size_l .popup__content
{
    padding: 18px;

    font-size: 16px;
    line-height: 16px;
}

.tooltip_size_l .tooltip__tail
{
    width: 12px;
    height: 12px;
}

.tooltip_size_l .tooltip__tail:after
{
    width: 16px;    /* 12 × √2 ≈ размеры квадрата, который нужно повернуть на 45deg, чтобы получился */
    height: 16px;   /* хвостик с заданными размерами 24×12 (tailWidth × tailHeight) */
}

.tooltip_size_l.popup_to_right .tooltip__tail,
.tooltip_size_l.popup_to_left .tooltip__tail
{
    height: 24px;
    margin-top: -12px;
}

.tooltip_size_l.popup_to_top .tooltip__tail,
.tooltip_size_l.popup_to_bottom .tooltip__tail
{
    width: 24px;
    margin-left: -12px;
}

/* ../../../../common.blocks/tooltip/_size/tooltip_size_l.css end */
/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_success.css begin */
.tooltip_theme_success.popup_theme_success,
.tooltip_theme_success .tooltip__tail:after
{
    background: rgba(108,186,104,.9);
}

.tooltip_theme_success.popup_theme_success
{
    color: #fff;
}

/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_success.css end */
/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_normal.css begin */
.tooltip_theme_normal.popup_theme_normal,
.tooltip_theme_normal .tooltip__tail:after
{
    background: rgba(50,50,50,.8);
}

.tooltip_theme_normal.popup_theme_normal
{
    color: #fff;
}

/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_normal.css end */
/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_error.css begin */
.tooltip_theme_error.popup_theme_error,
.tooltip_theme_error .tooltip__tail:after
{
    background: rgba(255,100,100,.9);
}

.tooltip_theme_error.popup_theme_error
{
    color: #fff;
}

/* ../../../../common.blocks/tooltip/_theme/tooltip_theme_error.css end */

/* 10-simple.css end */
/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.ie.css begin */
/* ../body/i-global__body.ie.css begin */
/* Global definitions (begin) */ /**/
    body
    {
        font-size: 80%;
    }
/* Global definitions (end) */ /**/
/* ../body/i-global__body.ie.css end */

/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.ie.css end */
/* ../../../../desktop.blocks/button/button.ie.css begin */
button.button
{
    /* Позволяет управлять внутренними отступами кнопки */ /**/
    overflow: visible;

    vertical-align: middle;
}

/* ../../../../desktop.blocks/button/button.ie.css end */
/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.ie.css begin */
a.button_disabled_yes
{
    text-decoration: none!important;
}

/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.ie.css end */
/* ../../../../desktop.blocks/button/_size/button_size_xs.ie.css begin */
button.button_size_xs
{
    height: 26px;

    line-height: 20px;
}

.button_size_xs .button__text
{
    padding: 0 8px;
}

/* ../../../../desktop.blocks/button/_size/button_size_xs.ie.css end */
/* ../../../../desktop.blocks/button/_size/button_size_s.ie.css begin */
button.button_size_s
{
    height: 30px;

    line-height: 24px;
}

.button_size_s .button__text
{
    padding: 0 11px;
}

/* ../../../../desktop.blocks/button/_size/button_size_s.ie.css end */
/* ../../../../desktop.blocks/button/_size/button_size_m.ie.css begin */
button.button_size_m
{
    height: 34px;

    line-height: 28px;
}

.button_size_m .button__text
{
    padding: 0 13px;
}

/* ../../../../desktop.blocks/button/_size/button_size_m.ie.css end */
/* ../../../../desktop.blocks/button/_size/button_size_l.ie.css begin */
button.button_size_l
{
    height: 40px;

    line-height: 34px;
}

.button_size_l .button__text
{
    padding: 0 16px;
}

/* ../../../../desktop.blocks/button/_size/button_size_l.ie.css end */
/* ../../../../desktop.blocks/popup/popup.ie.css begin */
.popup
{
    padding: 0;
}

/* ../../../../desktop.blocks/popup/popup.ie.css end */
/* ../../../../desktop.blocks/popup/_theme/popup_theme_ffffff.ie.css begin */
.popup_theme_ffffff
{
    border: 1px solid #e4e4e4;
}

/* ../../../../desktop.blocks/popup/_theme/popup_theme_ffffff.ie.css end */
/* ../../../../desktop.blocks/tooltip/__tail/tooltip__tail.ie.css begin */
.tooltip.popup_to_top .tooltip__tail:after
{
    display: none;
}

/* ../../../../desktop.blocks/tooltip/__tail/tooltip__tail.ie.css end */
/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme.ie.css begin */
/* NOTE: Волевым решением, в IE8 и ниже, для всех размеров отдаем один и тот же маленький хвостик */

.tooltip .tooltip__tail /* вес селектора должен быть >= `.tooltip_size_X .tooltip__tail` */
{
    width: 7px;
    height: 7px;
}

.tooltip.popup_to_right .tooltip__tail,
.tooltip.popup_to_left .tooltip__tail
{
    height: 14px;
    margin-top: -7px;
}

.tooltip.popup_to_top .tooltip__tail,
.tooltip.popup_to_bottom .tooltip__tail
{
    width: 14px;
    margin-left: -7px;
}

.tooltip.popup_to_right .tooltip__tail
{
    background-position: 0 0;
}

.tooltip.popup_to_left .tooltip__tail
{
    background-position: -7px 0;
}

.tooltip.popup_to_bottom .tooltip__tail
{
    background-position: -14px 0;
}

.tooltip.popup_to_top .tooltip__tail
{
    background-position: -28px 7px;
}

/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme.ie.css end */
/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_success.ie.css begin */
.tooltip_theme_success.popup_theme_success
{
    background: #79bf75;
}

.tooltip_theme_success .tooltip__tail
{
    background-image: url("../../../../../../../output/freeze/tLm2tQAcKKb9Q8-aIH8mHf6qMKM.png");
}

/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_success.ie.css end */
/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_normal.ie.css begin */
.tooltip_theme_normal.popup_theme_normal
{
    background: #5a5a5a;
}

.tooltip_theme_normal .tooltip__tail
{
    background-image: url("../../../../../../../output/freeze/FEXqdkDs2MrFb43HihmeOTHMnlk.png");
}

/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_normal.ie.css end */
/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_error.ie.css begin */
.tooltip_theme_error.popup_theme_error
{
    background: #fe7272;
}

.tooltip_theme_error .tooltip__tail
{
    background-image: url("../../../../../../../output/freeze/6bYPTO_rKdjeAxfWN0pfysTrSnM.png");
}

/* ../../../../desktop.blocks/tooltip/_theme/tooltip_theme_error.ie.css end */
