/* 105-side.css begin */
/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.css begin */
/* ../body/i-global__body.css begin */
/* Global definitions (begin) */ /**/
    body
    {
        font: 0.8em Arial, Helvetica, sans-serif;

        /* Чтобы в FF2- заработал z-index: -1 */ /**/
        position: relative;
        z-index: 0;

        margin: 0;
        padding: 0 0 1em 0;

        color: #000;
        background: #fff;
    }
/* Global definitions (end) */ /**/
/* ../body/i-global__body.css end */
/* ../wbr/i-global__wbr.css begin */
/* Поддержка wbr в Opera и Safari 2/3 (begin) */ /**/
    /* См. http://harisov.livejournal.com/97666.html */ /**/
    wbr
    {
        display: inline-block;
    }
/* Поддержка wbr в Opera и Safari 2/3 (end) */ /**/

/* ../wbr/i-global__wbr.css end */
/* ../hover/i-global__hover.css begin */
/* Global definitions: Links hover (begin) */ /**/
    :link:hover,
    :visited:hover
    {
        color: #f00 !important; /*!head*/
    }
/* Global definitions: Links hover (end) */ /**/

/* ../hover/i-global__hover.css end */

/* ../../../../libs/islands-romochka/desktop.blocks/i-global/_type/i-global_type_simple.css end */
/* ../../../../common.blocks/button/button.css begin */
/* button — рисует бордер кнопки */ /**/
.button
{
    position: relative;

    display: inline-block;

    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    white-space: nowrap;

    outline: 0;
}

.button::-moz-focus-inner
{
    padding: 0;

    border: 0;
}

/* Прячем стили от IE < 9 */ /**/
@media all and (min-width:0)
{
    .button
    {
        border: 0;
        background: none; /* убираем нативный фон кнопки */
    }

    a.button:link,
    a.button:visited
    {
        text-decoration: none;

        outline: hidden; /* hidden for Opera 12 to remove native focusing  */
    }
}

/* ../../../../common.blocks/button/button.css end */
/* ../../../../desktop.blocks/button/button.css begin */
@media all and (min-width:0)
{
    .button
    {
        cursor: pointer;
    }
}

a.button:hover
{
    text-decoration: none;

    outline: hidden; /* hidden for Opera 12 to remove native focusing  */
}

/* ../../../../desktop.blocks/button/button.css end */
/* ../../../../common.blocks/button/__text/button__text.css begin */
.button__text
{
    position: relative;

    pointer-events: none;
}

/* ../../../../common.blocks/button/__text/button__text.css end */
/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes,
a.button_disabled_yes .button__text
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .button_disabled_yes.button:before
    {
        background: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .button_disabled_yes.button
    {
        background: rgba(0,0,0,.08) !important;
    }
}

/* ../../../../common.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.css begin */
.button_disabled_yes
{
    cursor: default !important;
}

/* ../../../../desktop.blocks/button/_disabled/button_disabled_yes.css end */
/* ../../../../common.blocks/button/_theme/button_theme_normal.css begin */
a.button_theme_normal,
.button_theme_normal
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .button_theme_normal
    {
        border-radius: 3px;
    }

    /* :before — background & border */
    .button_theme_normal:before
    {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        content: '';

        border-radius: 2px;
        background: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
                box-shadow: 0 0 0 1px rgba(0,0,0,.2);
    }

    /* _pressed */
    .button_theme_normal.button_pressed_yes:before
    {
        background-color: #f6f5f3;
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../common.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../desktop.blocks/button/_theme/button_theme_normal.css begin */
.button_theme_normal.button_hovered_yes
{
    color: #000 !important;
}

@media all and (min-width:0)
{
    /* _focused */
    .button_theme_normal.button_focused_yes
    {
        box-shadow: 0 0 6px #fc0;
    }

    .button_theme_normal.button_focused_yes:before
    {
        box-shadow: 0 0 0 1px rgba(178,142,0,.6);
    }

    /* _hovered */
    .button_theme_normal.button_hovered_yes:not(.button_focused_yes):before
    {
        box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    }
}

/* ../../../../desktop.blocks/button/_theme/button_theme_normal.css end */
/* ../../../../common.blocks/button/_size/button_size_m.css begin */
.button_size_m
{
    font-size: 15px;
}

@media all and (min-width:0)
{
    .button_size_m
    {
        line-height: 32px;
    }
}

.button_size_m .button__text
{
    padding: 0 15px;
}

/* Стрелочка в кнопке */
.button_size_m.button_arrow_down .button__text:after
{
    right: 10px;

    -webkit-background-size: 11px 6px;
            background-size: 11px 6px;
}

.button_size_m.button.button_arrow_down .button__text
{
    padding-right: 31px;
}

/* ../../../../common.blocks/button/_size/button_size_m.css end */
/* ../../../../common.blocks/button/_side/button_side_left.css begin */
.button.button_side_left:before
{
    right: 0;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button.button_side_left
{
    z-index: 2;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button.button_focused_yes.button_side_left
{
    z-index: 1;
}

/* ../../../../common.blocks/button/_side/button_side_left.css end */
/* ../../../../common.blocks/button/_side/button_side_right.css begin */
.button.button_side_right:before
{
    left: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button.button_side_left + .button.button_side_right:before
{
    left: 1px;
}

.button.button_side_right
{
    z-index: 2;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button.button_side_right.button_focused_yes
{
    z-index: 1;
}

/* ../../../../common.blocks/button/_side/button_side_right.css end */
/* ../../../../common.blocks/button/_theme/button_theme_action.css begin */
a.button_theme_action,
.button_theme_action
{
    font-family: Arial, sans-serif;

    color: #000;
}

@media all and (min-width:0)
{
    .button_theme_action
    {
        border-radius: 3px;
    }

    /* :before — background & border */
    .button_theme_action:before
    {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;

        padding: 0;

        content: '';

        border-radius: 2px;
        background: #ffdb4d;
        -webkit-box-shadow: 0 0 0 1px rgba(191,153,0,.8);
                box-shadow: 0 0 0 1px rgba(191,153,0,.8);
    }

    /* _pressed */
    .button_theme_action.button_pressed_yes:before
    {
        background-color: #fc0;
        -webkit-box-shadow: 0 0 0 1px rgba(159,127,0,.8);
                box-shadow: 0 0 0 1px rgba(159,127,0,.8);
    }
}

/* ../../../../common.blocks/button/_theme/button_theme_action.css end */
/* ../../../../desktop.blocks/button/_theme/button_theme_action.css begin */
.button_theme_action.button_hovered_yes
{
    color: #000 !important;
}

@media all and (min-width:0)
{
    /* _focused */
    .button_theme_action.button_focused_yes
    {
        box-shadow: 0 0 6px #fc0;
    }

    /* _hovered */
    .button_theme_action.button_hovered_yes:not(.button_focused_yes):before
    {
        box-shadow: 0 0 0 1px rgba(159,127,0,.8);
    }
}

/* ../../../../desktop.blocks/button/_theme/button_theme_action.css end */
/* ../../../../common.blocks/input/input.css begin */
.input
{
    position: relative;

    display: inline-block;

    width: 100%;
}

/* ../../../../common.blocks/input/input.css end */
/* ../../../../common.blocks/input/_disabled/input_disabled_yes.css begin */
.input_disabled_yes.input_type_textarea .input__control
{
    resize: none;
}

.input_disabled_yes .input__clear
{
    display: none;
}

.input_disabled_yes,
.input_disabled_yes .input__control
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .input_disabled_yes.input .input__box
    {
        background: rgba(0,0,0,.08);
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

/* ../../../../common.blocks/input/_disabled/input_disabled_yes.css end */
/* ../../../../desktop.blocks/input/_disabled/input_disabled_yes.css begin */
.input_disabled_yes .input__box,
.input_disabled_yes .input__control
{
    cursor: default;
}

/* ../../../../desktop.blocks/input/_disabled/input_disabled_yes.css end */
/* ../../../../common.blocks/input/_theme/input_theme_normal.css begin */
.input_theme_normal,
.input_theme_normal .input__control
{
    font-family: Arial, sans-serif;

    color: #000;
}

.input_theme_normal .input__hint
{
    color: #999;
}

@media all and (min-width:0)
{
    .input_theme_normal .input__box
    {
        background: #fff;
        -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
                box-shadow: inset 0 0 0 1px #cbcbcb;
    }

    .input_theme_normal.input_focused_yes .input__box
    {
        -webkit-box-shadow: inset 0 0 0 1px #d0ba65, 0 0 10px #fc0;
                box-shadow: inset 0 0 0 1px #d0ba65, 0 0 10px #fc0;
    }
}

/* ../../../../common.blocks/input/_theme/input_theme_normal.css end */
/* ../../../../common.blocks/input/__box/input__box.css begin */
/* Обертка для нативного инпута (__control) и очищающего крестика (__clear). */
.input__box
{
    position: relative;

    display: block;
}

@media all and (min-width:0)
{
    .input__box
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        cursor: text;
    }
}

/* ../../../../common.blocks/input/__box/input__box.css end */
/* ../../../../common.blocks/input/__control/input__control.css begin */
.input__control
{
    position: relative;
    z-index: 3;

    width: 100%;
    margin: 0;

    font-size: 100%;

    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-appearance: none;
}

@media all and (min-width:0)
{
    .input__control
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: .4em 0;

        border: 0;
        outline: 0;
        background: none;
    }
}

/* Лишние отступы у текста */
.input__control::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/* Нативный крестик */
.input__control::-webkit-search-cancel-button
{
    display: none;
}

/* Смещение плэйсхолдера */
.input__control::-webkit-input-placeholder
{
    text-indent: 0;
}

/* Сбрасываем желтый бг у инпутов при автозаполнении */
.input__control:-webkit-autofill
{
    top: 1px;
    left: 1px;

    height: 1.9em;

    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

/* Скрываем нативный крестик в IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .input__control::-ms-clear
    {
        display: none;
    }
}

/* ../../../../common.blocks/input/__control/input__control.css end */
/* ../../../../desktop.blocks/input/__control/input__control.css begin */
.input__control:-webkit-autofill
{
    top: .1em;
    left: .2em;

    height: 1.6em;

    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

/* ../../../../desktop.blocks/input/__control/input__control.css end */
/* ../../../../common.blocks/input/__clear/input__clear.css begin */
/* Позиционируется относительно input__box.
 * Важно, чтобы правая граница элемента с очищающим крестиком
 * совпадала с правой границей input__box, иначе появляется
 * возможность кликнуть по правому бордеру input__box. */
.input__clear
{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;

    visibility: hidden;

    margin: 0;
    padding: 0;

    background: url("../../../../../../../output/freeze/K4e4uv8u9I9wb1fi17d8-3Jnr2A.svg") 50% 50% no-repeat;
}

/* ../../../../common.blocks/input/__clear/input__clear.css end */
/* ../../../../common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css begin */
.input__clear_visibility_visible
{
    visibility: visible;

    cursor: pointer;

    opacity: .3;
}

/* ../../../../common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css end */
/* ../../../../desktop.blocks/input/__clear/_visibility/input__clear_visibility_visible.css begin */
.input__clear_visibility_visible:hover
{
    opacity: .8;
}

/* ../../../../desktop.blocks/input/__clear/_visibility/input__clear_visibility_visible.css end */
/* ../../../../common.blocks/input/__hint/input__hint.css begin */
.input__hint
{
    position: absolute;
    z-index: 5;

    visibility: hidden;
    overflow: hidden;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 0 1em 0 8px;

    cursor: text;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    pointer-events: none;
}

.i-ua_js_no .input__hint
{
    position: static;

    visibility: visible;
}

/* ../../../../common.blocks/input/__hint/input__hint.css end */
/* ../../../../common.blocks/input/__hint/_visibility/input__hint_visibility_visible.css begin */
.input__hint_visibility_visible
{
    visibility: visible;
}

/* ../../../../common.blocks/input/__hint/_visibility/input__hint_visibility_visible.css end */
/* ../../../../common.blocks/input/_size/input_size_m.css begin */
.input_size_m
{
    font-size: 15px;
    line-height: 32px;
}

.input_size_m .input__clear
{
    width: 32px;
}

.input_size_m .input__control
{
    padding-left: 10px;
}

.input_size_m .input__box
{
    padding-right: 30px;
}

.input_size_m .input__hint
{
    padding-left: 11px;
}

/* ../../../../common.blocks/input/_size/input_size_m.css end */
/* ../../../../desktop.blocks/input/_size/input_size_m.css begin */
/* Для ИЕ10 делаем отступ слева с помощью border, т.к. при длинном тексте в инпуте padding игнорируется
   (если делать padding для обертки, то попап инпута с саджестом съезжает вправо)
   https://st.yandex-team.ru/ISLCOMPONENTS-865
*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .input_size_m .input__control
    {
        border-left: 10px solid transparent;
    }

    .input_size_m .input__box .input__control
    {
        padding-left: 0;
    }
}

/* ../../../../desktop.blocks/input/_size/input_size_m.css end */

/* 105-side.css end */
/* ../../../../desktop.blocks/button/button.ie9.css begin */
.button
{
    /* Not displayed box-shadow block in the table with the border-collapse: collapse */
    border-collapse: separate;
}

/* ../../../../desktop.blocks/button/button.ie9.css end */
/* ../../../../desktop.blocks/input/__box/input__box.ie9.css begin */
.input__box
{
    /* Not displayed box-shadow block in the table with the border-collapse: collapse */
    border-collapse: separate;
}

/* ../../../../desktop.blocks/input/__box/input__box.ie9.css end */
/* ../../../../desktop.blocks/input/_size/input_size_m.ie9.css begin */
/* Для ИЕ9 делаем отступ слева с помощью border, т.к. при длинном тексте в инпуте padding игнорируется
   (если делать padding для обертки, то попап инпута с саджестом съезжает вправо)
   https://st.yandex-team.ru/ISLCOMPONENTS-865
*/
.input_size_m .input__control
{
    border-left: 10px solid transparent;
}

.input.input_size_m .input__box .input__control
{
    padding-left: 0;
}

/* ../../../../desktop.blocks/input/_size/input_size_m.ie9.css end */
