/* ../../node_modules/bem-sets/jsdoccatalogue.blocks/b-page/b-page.css begin */
.b-page
{
    margin: 0;
    font-size: 0.8em;
}

/* ../../node_modules/bem-sets/jsdoccatalogue.blocks/b-page/b-page.css end */
/* ../../node_modules/bem-sets/jsdoccatalogue.blocks/jsdoc/jsdoc.css begin */
p
{
    padding: 0 30px;
    color: #535353;
}

ul
{
    padding: 0 50px;
}

ul li
{
    list-style-type: none;
}

h2
{
    color: #eee;
}

h4
{
    color: #707070;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 5px 0 30px;
    border: 1px solid #DADADA;
    border-radius: 5px;
}

h5
{
    color: #9C9C9C;

    margin-left: 30px;
}

code
{
    background: #EEE;
    color: rgb(0, 139, 165);
    font-size: 13px;
    padding: 0 5px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.jsdoc
{
    font-family: 'Open Sans';
    padding-bottom: 10px;
}

.jsdoc__deprecated
{
    color: #f00;
}

.lang-javascript
{
    margin: 10px 30px !important;
}

.header
{
    background: #E6E6E6;
    color: #616161;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px 10px 20px;
    border-bottom: 1px solid #B3B1B1;
    box-shadow: 0 1px 4px #D3D3D3;
}

.header:before
{
    background: #999;
    width: 7px;
    height: 7px;
    display: inline-block;
    position: relative;
    top: -3px;
    left: -10px;
    content: '';
}

.jsdoc__description
{
    font-size: 13px;
}

.heading_level_2,
.jsdoc__bem-mod .jsdoc__mod-name
{
    background: #eee;
    color: #7E7D7D;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
}

.heading_level_3
{
    background: #eee;
    color: #7E7D7D;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
}

.jsdoc__returns
{
    padding: 0 50px 15px 50px;
}

.jsdoc__js-params > ul
{
    padding: 5px 30px;
}

.jsdoc__protected,
.jsdoc__static
{
    display: inline-block;
    color: #707070;
    font-style: italic;
    font-size: 12px;
}

.jsdoc__bem-mod p
{
    padding-left: 50px;
}

.jsdoc__toc ul
{
    padding: 5px;
    margin-left: 10px;
}

.jsdoc__toc li
{
    padding: 5px;
}

.jsdoc__toc a
{
    background: #fafafa;
    padding: 3px 5px;
    color: #444;
    text-decoration: none;
    border: 1px solid #eee;
}

.jsdoc__toc a:hover
{
    background: #fff;
}

/* ../../node_modules/bem-sets/jsdoccatalogue.blocks/jsdoc/jsdoc.css end */
/* ../../node_modules/bem-sets/common.blocks/link/link.css begin */
.link
{
    color: #444;
    font-size: 18px;
}

/* ../../node_modules/bem-sets/common.blocks/link/link.css end */
/* ../../node_modules/bem-sets/common.blocks/link/_pos/link_pos_right.css begin */
.link_pos_right
{
    float: right;
}

/* ../../node_modules/bem-sets/common.blocks/link/_pos/link_pos_right.css end */
