/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css begin */
.b-page
{
    font: 12px Helvetica, Arial, sans-serif;

    margin: 0;

    background: #fff;
    -webkit-text-size-adjust: none;
}
/* ../../../../libs/bem-bl/blocks-touch/b-page/b-page.css end */
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css begin */
/* :( */
.i-ua_android-vowels-hack_yes *
{
    text-shadow: none !important;
}
/* ../../../../libs/islands-romochka/touch.blocks/b-page/b-page.css end */
/* ../../../../common.blocks/input/input.css begin */
.input
{
    position: relative;

    display: inline-block;

    width: 100%;
}

/* ../../../../common.blocks/input/input.css end */
/* ../../../../common.blocks/input/_disabled/input_disabled_yes.css begin */
.input_disabled_yes.input_type_textarea .input__control
{
    resize: none;
}

.input_disabled_yes .input__clear
{
    display: none;
}

.input_disabled_yes,
.input_disabled_yes .input__control
{
    color: #aaa !important;
}

@media all and (min-width:0)
{
    .input_disabled_yes.input .input__box
    {
        background: rgba(0,0,0,.08);
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}

/* ../../../../common.blocks/input/_disabled/input_disabled_yes.css end */
/* ../../../../touch.blocks/input/_disabled/input_disabled_yes.css begin */
.i-ua_platform_ios .input_disabled_yes,
.i-ua_platform_ios .input_disabled_yes .input__control
{
    color: inherit!important; /* iOS сам добавляет прозрачность на текст*/
}

.i-ua_ios_5 .input_disabled_yes.input_type_textarea .input__control
{
    color: #f3f3f3!important; /* iOS5 дизэйблит по-своему */
}

/* ../../../../touch.blocks/input/_disabled/input_disabled_yes.css end */
/* ../../../../common.blocks/input/_theme/input_theme_normal.css begin */
.input_theme_normal,
.input_theme_normal .input__control
{
    font-family: Arial, sans-serif;

    color: #000;
}

.input_theme_normal .input__hint
{
    color: #999;
}

@media all and (min-width:0)
{
    .input_theme_normal .input__box
    {
        background: #fff;
        -webkit-box-shadow: inset 0 0 0 1px #cbcbcb;
                box-shadow: inset 0 0 0 1px #cbcbcb;
    }

    .input_theme_normal.input_focused_yes .input__box
    {
        -webkit-box-shadow: inset 0 0 0 1px #d0ba65, 0 0 10px #fc0;
                box-shadow: inset 0 0 0 1px #d0ba65, 0 0 10px #fc0;
    }
}

/* ../../../../common.blocks/input/_theme/input_theme_normal.css end */
/* ../../../../common.blocks/input/__box/input__box.css begin */
/* Обертка для нативного инпута (__control) и очищающего крестика (__clear). */
.input__box
{
    position: relative;

    display: block;
}

@media all and (min-width:0)
{
    .input__box
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;

        cursor: text;
    }
}

/* ../../../../common.blocks/input/__box/input__box.css end */
/* ../../../../touch.blocks/input/__box/input__box.css begin */
/* disable select __box on touch devices */
.input__box
{
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
}

/* ../../../../touch.blocks/input/__box/input__box.css end */
/* ../../../../common.blocks/input/__control/input__control.css begin */
.input__control
{
    position: relative;
    z-index: 3;

    width: 100%;
    margin: 0;

    font-size: 100%;

    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-appearance: none;
}

@media all and (min-width:0)
{
    .input__control
    {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: .4em 0;

        border: 0;
        outline: 0;
        background: none;
    }
}

/* Лишние отступы у текста */
.input__control::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/* Нативный крестик */
.input__control::-webkit-search-cancel-button
{
    display: none;
}

/* Смещение плэйсхолдера */
.input__control::-webkit-input-placeholder
{
    text-indent: 0;
}

/* Сбрасываем желтый бг у инпутов при автозаполнении */
.input__control:-webkit-autofill
{
    top: 1px;
    left: 1px;

    height: 1.9em;

    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

/* Скрываем нативный крестик в IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .input__control::-ms-clear
    {
        display: none;
    }
}

/* ../../../../common.blocks/input/__control/input__control.css end */
/* ../../../../touch.blocks/input/__control/input__control.css begin */
.input__control
{
    -webkit-box-sizing: border-box;
}

/* ../../../../touch.blocks/input/__control/input__control.css end */
/* ../../../../common.blocks/input/__clear/input__clear.css begin */
/* Позиционируется относительно input__box.
 * Важно, чтобы правая граница элемента с очищающим крестиком
 * совпадала с правой границей input__box, иначе появляется
 * возможность кликнуть по правому бордеру input__box. */
.input__clear
{
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;

    visibility: hidden;

    margin: 0;
    padding: 0;

    background: url("../../../../../../../output/freeze/K4e4uv8u9I9wb1fi17d8-3Jnr2A.svg") 50% 50% no-repeat;
}

/* ../../../../common.blocks/input/__clear/input__clear.css end */
/* ../../../../common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css begin */
.input__clear_visibility_visible
{
    visibility: visible;

    cursor: pointer;

    opacity: .3;
}

/* ../../../../common.blocks/input/__clear/_visibility/input__clear_visibility_visible.css end */
/* ../../../../touch.blocks/input/__clear/_visibility/input__clear_visibility_visible.css begin */
/* disable select __clear on touch devices */
.input__clear_visibility_visible
{
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
}

/* ../../../../touch.blocks/input/__clear/_visibility/input__clear_visibility_visible.css end */
/* ../../../../common.blocks/input/__label/input__label.css begin */
.input__label
{
    display: block;

    margin: 0 .4em .25em 0;

    line-height: normal;
}

/* ../../../../common.blocks/input/__label/input__label.css end */
/* ../../../../common.blocks/input/_size/input_size_s.css begin */
.input_size_s
{
    font-size: 13px;
    line-height: 28px;
}

.input_size_s .input__clear
{
    width: 28px;

    -webkit-background-size: 10px;
            background-size: 10px;
}

.input_size_s .input__box
{
    padding-right: 22px;
}

.input_size_s .input__control
{
    padding-left: 7px;
}

/* ../../../../common.blocks/input/_size/input_size_s.css end */
